Repository rapidsai/clx, pull requests merged in 2020-12, with the labels that each got.

#292 [REVIEW] Phishing detection updates and workflow
  CHANGELOG.md
  Dockerfile
  ci/docs/build.sh
  ci/gpu/build.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  conda/recipes/clx/meta.yaml
  examples/streamz/Dockerfile
  examples/streamz/python/phishing_detection.py
  python/clx/analytics/phishing_detector.py
  python/clx/tests/test_phish_detector.py
Labels: 3 - Ready for Review, improvement, non-breaking

#273 FIL streamz notebook example
  CHANGELOG.md
  examples/FIL_streamz_pipeline.ipynb
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, feature request, non-breaking

#307 [REVIEW] Update to FIL Streamz example notebook
  examples/forest_inference/FIL_custreamz_pipeline.ipynb
  examples/forest_inference/xgboost_streamz_pipeline.ipynb
Labels: 3 - Ready for Review, improvement, non-breaking

#313 Add xgboost training example
  CHANGELOG.md
  examples/forest_inference/xgboost_training.ipynb
Labels: 6 - Okay to Auto-Merge, enhancement, feature request, non-breaking

#308 [REVIEW] Update CLX Streamz workflow to simplify new workflow implementation
  CHANGELOG.md
  docs/source/intro-clx-streamz.ipynb
  examples/run_dga_training.py
  examples/streamz/Dockerfile
  examples/streamz/README.md
  examples/streamz/python/clx_streamz_tools/streamz_workflow.py
  examples/streamz/python/clx_streamz_tools/utils.py
  examples/streamz/python/cybert.py
  examples/streamz/python/dga_detection.py
  examples/streamz/python/phishing_detection.py
  examples/streamz/resources/cybert.yaml
  examples/streamz/resources/dga_detection.yaml
  examples/streamz/resources/phishing_detection.yaml
  examples/train_dga_detector.py
  notebooks/cybert/cybert_example_training.ipynb
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking
