Repository rapidsai/clx, pull requests merged in 2021-05, with the labels that each got.

#390 Merge `branch-0.19` into `branch-0.20`
  CHANGELOG.md
Labels: improvement, non-breaking

#391 [REVIEW] Update LODA unit tests
  python/clx/tests/test_loda.py
Labels: 3 - Ready for Review, Python, bug, non-breaking

#392 ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: gpuCI, improvement, non-breaking

#393 ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: gpuCI, improvement, non-breaking

#378 [REVIEW] Intro docs
  docs/source/index.rst
  docs/source/intro-clx-asset-classification.ipynb
  docs/source/intro-clx-cybert.ipynb
  docs/source/intro-clx-dga.ipynb
  docs/source/intro-clx-loda-anomaly-detection.ipynb
  docs/source/intro-clx-periodicity-detection.ipynb
  docs/source/intro-clx-phishing-detection.ipynb
  docs/source/intro-clx-predictive-maintenance.ipynb
  python/clx/analytics/cybert.py
  python/clx/analytics/dga_detector.py
  python/clx/osi/farsight.py
  python/clx/osi/slashnext.py
  python/clx/osi/virus_total.py
  python/clx/osi/whois.py
Labels: 2 - In Progress, 3 - Ready for Review, 5 - Ready to Merge, Python, doc, non-breaking

#396 [REVIEW] Add URL processing support for DGA detection
  python/clx/analytics/dga_dataset.py
  python/clx/analytics/dga_detector.py
  python/clx/tests/test_utils.py
  python/clx/utils/data/utils.py
Labels: ! - Hotfix, 3 - Ready for Review, 5 - Ready to Merge, Python, bug, non-breaking

#399 Fix clx uploads [skip-ci]
  ci/cpu/prebuild.sh
Labels: 3 - Ready for Review, bug, gpuCI, non-breaking

#397 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#400 Pass compiler environment variables to conda python build
  conda/recipes/clx/meta.yaml
Labels: conda, improvement, non-breaking

#401 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: gpuCI, improvement, non-breaking

#398 REVIEW: ABP notebook Training+Inference
  ci/gpu/test-notebooks.sh
  notebooks/anomalous_behavior_profiling/anomalous_behavior_profiling_supervised.ipynb
Labels: 3 - Ready for Review, 5 - Ready to Merge, Python, enhancement, feature request, gpuCI, non-breaking

#402 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking
