Repository rapidsai/clx, pull requests merged in 2021-08, with the labels that each got.

#446 [RELEASE] clx v21.08
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ci/checks/style.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/README.md
  ci/release/update-version.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  docs/source/conf.py
  examples/streamz/Dockerfile
  examples/streamz/README.md
  notebooks/Predictive_Maintenance/Predictive_Maintenance_Sequence_Classifier.ipynb
  notebooks/cybert/cybert_example_training.ipynb
  notebooks/cybert/cybert_log_parsing.ipynb
  notebooks/dga_detection/DGA_Detection.ipynb
  notebooks/network_mapping/custream_n_graph.ipynb
  notebooks/pii_detection/pii_detection_training_example.ipynb
  python/clx/analytics/cybert.py
  python/clx/analytics/multiclass_sequence_classifier.py
  python/clx/analytics/periodicity_detection.py
  python/clx/analytics/sequence_classifier.py
  siem_integrations/Dockerfile
Labels: Python, conda, gpuCI

#450 Fix Forward-Merge Conflicts [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#383 support space in workspace
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/build.sh
  ci/utils/nbtest.sh
Labels: 2 - In Progress, gpuCI, improvement, non-breaking, inactive-30d
