Repository rapidsai/clx, pull requests merged in 2021-07, with the labels that each got.

#436 Update `conda` environment name for CI
  ci/checks/style.sh
  ci/gpu/build.sh
  ci/local/README.md
  conda/environments/clx_dev_cuda11.0.yml
  examples/streamz/Dockerfile
Labels: conda, gpuCI, improvement, non-breaking

#438 variable fix so that accuracy_score doesn't throw an error
  notebooks/dga_detection/DGA_Detection.ipynb
Labels: 4 - Needs Reviewer, Python, improvement, non-breaking

#434 Drop `flatbuffers` install
  siem_integrations/Dockerfile
Labels: 3 - Ready for Review, enhancement, improvement, non-breaking

#430 [REVIEW] Update notebooks to use the new Tokenizer
  notebooks/cybert/cybert_example_training.ipynb
  notebooks/cybert/cybert_log_parsing.ipynb
  notebooks/pii_detection/pii_detection_training_example.ipynb
  python/clx/analytics/cybert.py
  python/clx/analytics/multiclass_sequence_classifier.py
  python/clx/analytics/sequence_classifier.py
Labels: Python, enhancement, improvement, non-breaking

#387 [REVIEW] change pretrained model
  notebooks/Predictive_Maintenance/Predictive_Maintenance_Sequence_Classifier.ipynb
Labels: 3 - Ready for Review, Python, enhancement, improvement, non-breaking

#433 [REVIEW] Update README getting started code [skip ci]
  README.md
Labels: 3 - Ready for Review, doc, non-breaking

#440 [REVIEW] Fix filter function in periodicity detection
  python/clx/analytics/periodicity_detection.py
Labels: 3 - Ready for Review, Python, bug, non-breaking
