Repository rapidsai/clx, pull requests merged in 2021-01, with the labels that each got.

#320 [REVIEW] Pin to PyTorch 1.7.0
  Dockerfile
  ci/gpu/build.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  conda/recipes/clx/meta.yaml
  examples/streamz/Dockerfile
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, bug, non-breaking

#321 [REVIEW] Fix pytorch version in conda recipe
  conda/recipes/clx/meta.yaml
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#322 [REVIEW] Update to HuggingFace Transformers v4
  Dockerfile
  ci/gpu/build.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  conda/recipes/clx/meta.yaml
  examples/streamz/Dockerfile
  python/clx/tests/test_cybert.py
  python/clx/tests/test_phish_detector.py
  python/clx/tests/test_sequence_classifier.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#317 [REVIEW] Adding Predictive Maintenance & Root Cause Analysis Notebook
  ci/gpu/test-notebooks.sh
  notebooks/Predictive_Maintenance/Predictive_Maintenance_Sequence_Classifier.ipynb
Labels: 6 - Okay to Auto-Merge, enhancement, improvement, non-breaking

#315 [REVIEW] Fix DGA Detection Notebook and DetectorDataset Memory Errors
  CHANGELOG.md
  examples/run_dga_training.py
  notebooks/dga_detection/DGA_Detection.ipynb
  python/clx/analytics/detector.py
  python/clx/analytics/detector_dataset.py
  python/clx/analytics/dga_dataset.py
  python/clx/analytics/dga_detector.py
  python/clx/analytics/model/rnn_classifier.py
  python/clx/tests/test_dataloader.py
  python/clx/tests/test_detector_dataset.py
  python/clx/tests/test_dga_dataset.py
  python/clx/tests/test_dga_detector.py
  python/clx/tests/test_utils.py
  python/clx/utils/__init__.py
  python/clx/utils/data/__init__.py
  python/clx/utils/data/dataloader.py
  python/clx/utils/data/dataset.py
  python/clx/utils/data/utils.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#325 [REVIEW] Loda algorithm for anomaly detection and explanation.
  notebooks/loda_anomaly_detection/LODA_anomaly_detection.ipynb
  notebooks/loda_anomaly_detection/loda.py
  notebooks/loda_anomaly_detection/shuttle.txt
Labels: 6 - Okay to Auto-Merge, feature request, non-breaking

#326 [REVIEW] README updates
  README.md
  docker-compose.yml
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#276 [REVIEW] gpuCI Scripts Update
  CHANGELOG.md
  ci/cpu/build.sh
  ci/cpu/clx/build_clx.sh
  ci/cpu/clx/upload-anaconda.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/build.sh
Labels: 6 - Okay to Auto-Merge, enhancement, gpuCI, improvement, non-breaking

#328 [REVIEW] SlashNext API Integration
  CHANGELOG.md
  Dockerfile
  ci/docs/build.sh
  ci/gpu/build.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  examples/streamz/Dockerfile
  python/clx/osi/slashnext.py
  python/clx/tests/test_slashnext.py
Labels: 3 - Ready for Review, feature request, non-breaking

#336 [REVIEW] Port heuristic update
  python/clx/heuristics/ports.py
Labels: 3 - Ready for Review, bug, non-breaking
