Repository rapidsai/clx, pull requests merged in 2021-06, with the labels that each got.

#407 [REVIEW] Update cuml imports
  notebooks/Predictive_Maintenance/Predictive_Maintenance_Sequence_Classifier.ipynb
  notebooks/phish_detection/Phishing_Detection_using_Bert_CLX.ipynb
  python/clx/analytics/asset_classification.py
  python/clx/analytics/dga_detector.py
  python/clx/tests/test_binary_sequence_classifier.py
  python/clx/tests/test_multiclass_sequence_classifier.py
Labels: 3 - Ready for Review, Python, bug, non-breaking

#415 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#412 [RELEASE] clx v21.06
  CHANGELOG.md
  Dockerfile
  README.md
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/test-notebooks.sh
  ci/release/update-version.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  conda/recipes/clx/meta.yaml
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/intro-clx-asset-classification.ipynb
  docs/source/intro-clx-cybert.ipynb
  docs/source/intro-clx-dga.ipynb
  docs/source/intro-clx-loda-anomaly-detection.ipynb
  docs/source/intro-clx-periodicity-detection.ipynb
  docs/source/intro-clx-phishing-detection.ipynb
  docs/source/intro-clx-predictive-maintenance.ipynb
  examples/streamz/Dockerfile
  notebooks/Predictive_Maintenance/Predictive_Maintenance_Sequence_Classifier.ipynb
  notebooks/anomalous_behavior_profiling/anomalous_behavior_profiling_supervised.ipynb
  notebooks/phish_detection/Phishing_Detection_using_Bert_CLX.ipynb
  python/clx/analytics/asset_classification.py
  python/clx/analytics/binary_sequence_classifier.py
  python/clx/analytics/cybert.py
  python/clx/analytics/dga_dataset.py
  python/clx/analytics/dga_detector.py
  python/clx/analytics/multiclass_sequence_classifier.py
  python/clx/analytics/sequence_classifier.py
  python/clx/osi/farsight.py
  python/clx/osi/slashnext.py
  python/clx/osi/virus_total.py
  python/clx/osi/whois.py
  python/clx/tests/test_binary_sequence_classifier.py
  python/clx/tests/test_loda.py
  python/clx/tests/test_multiclass_sequence_classifier.py
  python/clx/tests/test_utils.py
  python/clx/utils/data/utils.py
  siem_integrations/Dockerfile
Labels: Python, conda, gpuCI

#420 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#422 Fix `21.08` forward-merge conflicts
  CHANGELOG.md
Labels: improvement, non-breaking

#427 Update sphinx config [skip ci]
  docs/source/conf.py
Labels: improvement, non-breaking

#405 [REVIEW] Added custreamz and cugraph integration demo
  ci/gpu/test-notebooks.sh
  notebooks/network_mapping/custream_n_graph.ipynb
Labels: 5 - Ready to Merge, Python, enhancement, gpuCI, improvement, non-breaking

#410 Use `cupy.ndarray` in docstrings
  python/clx/analytics/periodicity_detection.py
Labels: Python, improvement, non-breaking

#428 [REVIEW] Update conda development environment [skip ci]
  CONTRIBUTING.md
  README.md
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  examples/streamz/README.md
Labels: 3 - Ready for Review, bug, conda, non-breaking

#432 Update README instructions to include stable version [skip ci]
  README.md
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking
