Repository rapidsai/clx, pull requests merged in 2021-02, with the labels that each got.

#337 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#340 Fix merge conflicts in #339 [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#324 [REVIEW] Exploratory Data Analysis Summary Stats
  ci/gpu/build.sh
  docs/source/api.rst
  docs/source/conf.py
  python/clx/eda/__init__.py
  python/clx/eda/analysis.py
  python/clx/eda/eda.py
  python/clx/eda/summary_stats.py
  python/clx/tests/test_eda.py
Labels: 3 - Ready for Review, feature request, non-breaking

#342 [REVIEW] Fix PageRank in Network Mapping notebook
  notebooks/network_mapping/Network_Mapping_With_RAPIDS_And_CLX.ipynb
Labels: 3 - Ready for Review, bug, non-breaking

#331 [REVIEW] OSI Docs
  docs/source/api.rst
  python/clx/osi/farsight.py
  python/clx/osi/virus_total.py
  python/clx/osi/whois.py
Labels: 3 - Ready for Review, 5 - Ready to Merge, doc, non-breaking

#335 [REVIEW] CLX Module for LODA Anomaly Detection
  docs/source/api.rst
  notebooks/loda_anomaly_detection/LODA_anomaly_detection.ipynb
  notebooks/loda_anomaly_detection/loda.py
  notebooks/loda_anomaly_detection/shuttle.txt
  python/clx/analytics/loda.py
  python/clx/tests/test_asset_classification.py
  python/clx/tests/test_loda.py
  python/clx/tests/test_phish_detector.py
  python/clx/tests/test_sequence_classifier.py
Labels: 3 - Ready for Review, feature request, non-breaking

#343 [REVIEW] Update to PyTorch 1.7.1
  Dockerfile
  ci/gpu/build.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  conda/recipes/clx/meta.yaml
  examples/streamz/Dockerfile
Labels: 3 - Ready for Review, improvement, non-breaking

#327 [REVIEW] Add PyTorch DataParallel to cyBERT
  notebooks/cybert/cybert_example_training.ipynb
  python/clx/analytics/cybert.py
  python/clx/tests/test_cybert.py
Labels: 3 - Ready for Review, improvement, non-breaking

#349 [REVIEW] Fix Kafka download in CLX Streamz Docker image
  examples/streamz/Dockerfile
Labels: 3 - Ready for Review, bug, non-breaking

#351 Add GHA to mark issues/prs as stale/rotten [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#353 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#318 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 4 - Needs Reviewer, feature request, non-breaking

#360 Network mapping notebook fix
  notebooks/network_mapping/Network_Mapping_With_RAPIDS_And_CLX.ipynb
Labels: Python, bug, non-breaking

#347 [REVIEW] Dataset binary and frequency features
  docs/source/api.rst
  python/clx/features.py
  python/clx/tests/test_features.py
Labels: 3 - Ready for Review, Python, feature request, non-breaking

#362 [REVIEW] Update Network Mapping notebook to skip Louvain on Pascal
  notebooks/network_mapping/Network_Mapping_With_RAPIDS_And_CLX.ipynb
Labels: 3 - Ready for Review, Python, bug, non-breaking

#365 Branch 0.19 merge 0.18
  CHANGELOG.md
Labels: improvement, non-breaking

#366 [REVIEW] Remove deprecated phishing detection module
  docs/source/api.rst
  python/clx/analytics/phishing_detector.py
  python/clx/tests/test_phish_detector.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#364 [REVIEW] Documentation fixes for EDA and Features modules
  docs/source/api.rst
  python/clx/eda/eda.py
  python/clx/features.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking
