Repository rapidsai/clx, pull requests merged in 2021-04, with the labels that each got.

#369 [REVIEW] Add IDS (malware detection) usecase example using Loda.
  ci/gpu/test-notebooks.sh
  notebooks/ids_detection/IDS_using_LODA.ipynb
  notebooks/ids_detection/util.py
Labels: Python, feature request, gpuCI, non-breaking

#375 add pii training notebook
  notebooks/pii_detection/pii_detection_training_example.ipynb
  notebooks/pii_detection/resources/bert-base-cased-hash.txt
  notebooks/pii_detection/resources/bert-base-uncased-hash.txt
Labels: 3 - Ready for Review, Python, feature request, non-breaking

#382 [RELEASE] clx v0.19
  CHANGELOG.md
  Dockerfile
  README.md
  ci/gpu/test-notebooks.sh
  conda/environments/clx_dev_cuda10.1.yml
  conda/environments/clx_dev_cuda10.2.yml
  conda/environments/clx_dev_cuda11.0.yml
  docs/source/api.rst
  docs/source/conf.py
  examples/streamz/Dockerfile
  notebooks/Predictive_Maintenance/Predictive_Maintenance_Sequence_Classifier.ipynb
  notebooks/ids_detection/IDS_using_LODA.ipynb
  notebooks/ids_detection/util.py
  notebooks/network_mapping/Network_Mapping_With_RAPIDS_And_CLX.ipynb
  notebooks/pii_detection/pii_detection_training_example.ipynb
  notebooks/pii_detection/resources/bert-base-cased-hash.txt
  notebooks/pii_detection/resources/bert-base-uncased-hash.txt
  python/clx/analytics/anomaly_detection.py
  python/clx/analytics/dga_detector.py
  python/clx/analytics/phishing_detector.py
  python/clx/analytics/sequence_classifier.py
  python/clx/eda/eda.py
  python/clx/features.py
  python/clx/tests/test_anomaly_detection.py
  python/clx/tests/test_features.py
  python/clx/tests/test_phish_detector.py
  python/clx/tests/test_sequence_classifier.py
Labels: Python, conda, gpuCI

#380 [REVIEW] Multiclass Sequence Classifier
  docs/source/api.rst
  notebooks/Predictive_Maintenance/Predictive_Maintenance_Sequence_Classifier.ipynb
  notebooks/phish_detection/Phishing_Detection_using_Bert_CLX.ipynb
  python/clx/analytics/binary_sequence_classifier.py
  python/clx/analytics/multiclass_sequence_classifier.py
  python/clx/analytics/sequence_classifier.py
  python/clx/tests/test_binary_sequence_classifier.py
  python/clx/tests/test_multiclass_sequence_classifier.py
Labels: 3 - Ready for Review, Python, improvement, non-breaking

#388 ENH Remove defaults channel from conda build
  README.md
  conda/recipes/clx/meta.yaml
  siem_integrations/Dockerfile
Labels: 3 - Ready for Review, conda, improvement, non-breaking
