Repository rapidsai/clx, pull requests merged in 2022-05, with the labels that each got.

#487 cyBERT and WEP fixes after upstream cuDF updates
  ci/gpu/build.sh
  python/clx/analytics/cybert.py
  python/clx/parsers/windows_event_parser.py
Labels: bug, gpuCI, 3 - Ready for Review, non-breaking, Python

#486 Add transformers dependency and update notebooks
  CONTRIBUTING.md
  Dockerfile
  README.md
  ci/gpu/build.sh
  conda/environments/clx_dev_cuda11.5.yml
  notebooks/anomalous_behavior_profiling/anomalous_behavior_profiling_supervised.ipynb
  notebooks/ids_detection/IDS_using_LODA.ipynb
  notebooks/network_mapping/CLX_Supervised_Asset_Classification.ipynb
  notebooks/pii_detection/pii_detection_training_example.ipynb
Labels: bug, gpuCI, conda, 3 - Ready for Review, non-breaking, Python

#489 doc updates
  docs/source/10min-clx.ipynb
  docs/source/intro-clx-asset-classification.ipynb
  docs/source/intro-clx-cybert.ipynb
  docs/source/intro-clx-dga.ipynb
  docs/source/intro-clx-loda-anomaly-detection.ipynb
  docs/source/intro-clx-periodicity-detection.ipynb
  docs/source/intro-clx-phishing-detection.ipynb
  docs/source/intro-clx-predictive-maintenance.ipynb
  docs/source/intro-clx-workflow.ipynb
  python/clx/analytics/binary_sequence_classifier.py
  python/clx/analytics/sequence_classifier.py
Labels: doc, 3 - Ready for Review, non-breaking, Python

#476 Use conda compilers
  conda/recipes/clx/conda_build_config.yaml
  conda/recipes/clx/meta.yaml
Labels: conda, improvement, non-breaking, inactive-30d

#493 Simplify conda recipe
  conda/recipes/clx/meta.yaml
Labels: conda, improvement, non-breaking

#472 Build packages using mambabuild
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking, inactive-30d

#448 Support Loda save and load operations.
  python/clx/analytics/loda.py
  python/clx/tests/test_loda.py
Labels: enhancement, 5 - Ready to Merge, gpuCI, conda, improvement, non-breaking, Python

#469 Update cybert_example_training.ipynb
  notebooks/cybert/cybert_example_training.ipynb
Labels: bug, non-breaking, inactive-90d, inactive-30d

#386 Edit variable formatting for API document page
  python/clx/ip.py
Labels: 3 - Ready for Review, improvement, non-breaking, Python
